In [8]:
import pandas as pd
import numpy as np

In [84]:
MISSING_INT8 = np.int8(-1)
MISSING_INT16 = np.int16(-1)

int8 = lambda x: MISSING_INT8 if x == "" else np.int8(x) 
int16 = lambda x: MISSING_INT16 if x == "" else np.int16(x)

In [92]:
d = pd.read_csv(
    "../lichess_data/standard/csv/big/lichess_db_standard_rated_2022-08.csv",
    converters= {
        "Result": int8,
        "WhiteRating": int16,
        "BlackRating": int16,
        "WhiteRatingProvisional": int8,
        "BlackRatingProvisional": int8,
        "WhiteRatingDiff": int16,
        "BlackRatingDiff": int16,
        "WhiteTitle": int8,
        "BlackTitle": int8,
        "ECO": int16,
        "ClockInitialTime": int16,
        "ClockIncrement": int16,
        "Termination": int8,
    },
)

In [93]:
d.memory_usage()

Index                           128
Result                     92670440
WhiteRating               185340880
WhiteRatingProvisional     92670440
BlackRating               185340880
BlackRatingProvisional     92670440
WhiteRatingDiff           185340880
BlackRatingDiff           185340880
WhiteTitle                 92670440
BlackTitle                 92670440
ECO                       185340880
ClockInitialTime          185340880
ClockIncrement            185340880
Termination                92670440
dtype: int64

In [94]:
d.head()

,Result,WhiteRating,WhiteRatingProvisional,BlackRating,BlackRatingProvisional,WhiteRatingDiff,BlackRatingDiff,WhiteTitle,BlackTitle,ECO,ClockInitialTime,ClockIncrement,Termination
0,1,1923,0,1910,0,-1,0,-1,-1,106,60,0,1
1,0,1781,0,1782,0,-6,5,-1,-1,101,60,0,1
2,2,2528,0,2355,0,4,-3,-1,-1,0,60,0,0
3,2,2010,0,1996,0,6,-6,-1,-1,100,60,0,1
4,0,1805,0,1831,0,-14,5,-1,-1,247,60,0,1

In [96]:
d["Termination"].value_counts()

0    61739431
1    30534121
2      356864
4       36351
3        3673
Name: Termination, dtype: int64

In [97]:
import sys
sys.getsizeof(d)

1853408944